{% extends 'vault/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container w-75 mt-5">

    <form action="" method="post" class="container-fluid">{% csrf_token %}
        <fieldset class="form-control p-3">
            <legend class="h2">Login</legend>
            {{ form|crispy }}
            
            <button type="submit" class="btn btn-primary mt-2">Login</button>
        </fieldset>
    </form>
    <small class="text-white m-2">Doesn't have an account?</small>
    <a href="{% url 'register'%}" class="h6 text-white text-decoration-none p5">Signup here</a>
</div>
{% endblock %}